{
  email {$TRAVEL_ACME_EMAIL}
}

{$TRAVEL_PUBLIC_HOST} {
  encode gzip zstd

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  reverse_proxy 127.0.0.1:19095
}
